.red {
  color: red;
}


.male {
  background-color: cornflowerblue;
}

.female {
  background-color: lightcoral;
}

.other {
  background-color: rebeccapurple;
}


hr {
  background-color: #8bc34a;
  height: 3px;
  border: none;
}

.heading {
  font-style: italic;
  text-decoration: underline;
  padding-bottom: 20px;

}
