.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #e0e0e0;
  line-height: 30px;


  a {
    text-decoration: none;
    color: #0a0707;
    padding: 0 10px;
    &:hover {
      background-color: #00bcd4;
    }

    &.active {
      background-color: #00bcd4;
    }
  }
}

input {
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 2px 0;
  height: 22px;
}
